
name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Pre-commit checks
        run: |
          pip install -U pip setuptools wheel
          pip install pre-commit==2.9.2
          pre-commit run --all-files

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Unit tests
        run: |
          pip install -U pip setuptools wheel
          pip install -e .
          pip install -r requirements-dev.txt
          python -m pytest test/*
